%h2 Registration

%p To introduce yourself to <strong>offbot</strong> please fill in this simple form:

#login_box
	= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
		= devise_error_messages!
		%table
			%tr#name
				%td
					= f.label :name
				%td
					= f.text_field :name
			%tr#email
				%td
					= f.label :email
				%td
					= f.email_field :email
			%tr#password
				%td
					= f.label :password
				%td
					= f.password_field :password
			%tr#passwordconfirm
				%td
					= f.label :password_confirmation
				%td
					= f.password_field :password_confirmation
			%tr#submit
				%td
				%td
					= f.submit "Sign up"

= render "links"
