%h1= @person.name.titleize

%p Registered email: <em>#{@person.email}</em>

%h4 #{@person.name.titleize}'s projects

#pop_box
	%table#project_list
		- for project in @person.projects
			%tr
				%td= project.name

- if @person.editable_by?(current_person)
	= link_to 'Edit', edit_person_path(@person)
	\|
= link_to 'Back', root_url