Hi, #{@name}!
 
What have you been up to? Just reply to this email to let me know.

Offbott

- if @project.updates

	--------------------------------
	Recently others involved with the project #{@project.name} said:

	- @project.updates.order("created_at DESC").limit(3).each do |update|
		#{extract_reply(update.body)}
		by #{update.person.name}, posted at #{update.created_at.strftime("%A %d %B")}
		----

--------------------------------

= link_to "See this project", project_path
\|
= link_to "Edit this project", edit_project_path

	