!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			Hi, #{@name}
		%p What have you been up to? Just reply to this email to let me know.
		%p Offbott

		%hr

		- if @project.updates

			%h2 Recently others involved with the project #{@project.name} said:

			- @project.updates.order("created_at DESC").limit(3).each do |update|
				%p #{extract_reply(update.body)}
				%p{:style=>"border-bottom: 1px solid #cacaca;"} by #{update.person.name}, posted at #{update.created_at.strftime("%A %d %B")}

		%hr

		%a{:href=>"http://#{request.host}/projects/#{@project.id}"} See this project
		\|
		%a{:href=>"http://#{request.host}/projects/#{@project.id}/edit"} Edit this project
