= form_for @project do |f|
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
			%ul
				- @project.errors.full_messages.each do |msg|
					%li= msg

	= f.label :name 
	= f.text_field :name

	- person = current_person
	= hidden_field(:project, :created_by, :value => person.id)

	%h2 Add people to this project
	- for person in Person.all
		= f.label person.name
		= check_box_tag("project[person_ids][]", person.id, @project.people.include?(person))

	%h2 Invite others to join the project
	%p Add their emails spearated by commas
	= label_tag "emails"
	= text_field_tag "emails"

	.actions
		= f.submit 'Save'
