= form_for @project do |f|
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
			%ul
				- @project.errors.full_messages.each do |msg|
					%li= msg

	%h3 What's it called?

	#project_name_bar
		- if @project.id.nil?
			%p= f.text_field(:name, :value => "My Awesome Project", :class => "clear_field")
		- else
			%p= f.text_field :name

	- person = current_person
	= hidden_field(:project, :created_by, :value => person.id)

	- unless @project.id.nil?
		%table#new_project_people
			- already_on_the_project = []
			- for person in Person.all
				- if current_person.is_admin?(@project)
					- if @project.people.include?(person)
						%tr
							%td.label= f.label person.name.titleize
							%td.field= check_box_tag("project[person_ids][]", person.id, @project.people.include?(person))
				- else
					- if @project.people.include?(person)
						- already_on_the_project << person.name.titleize
			- if already_on_the_project
				%p 
					These folks have already joined: 
					= already_on_the_project.join(", ")

	%h3 Invite others to join the project
			
	%p Add the email addresses of the other people you'd like to be on the project:
	
	#email_adds
		%p.address= text_field_tag "emails"
		%p.address= text_field_tag "emails"
		%p.address= text_field_tag "emails"
		%p.address= text_field_tag "emails"
		%p.address= text_field_tag "emails"
		%p.right= link_to '+ Add more', root_url, :class => 'operate button'
	
	%table#new_project_weekly_digest
		%tr
			%td= f.label :weekly_digest_day, "On which day would you like to receive the weekly digest of all updates?"
			%td
				- weekdays = I18n.t 'date.day_names'
				= select(:project, :weekly_digest_day, options_for_select(weekdays))

	%p= f.submit 'Save this project', :class => 'confirm button'
