= form_for @project do |f|
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
			%ul
				- @project.errors.full_messages.each do |msg|
					%li= msg

	%h3 What's it called?

	#project_name_bar
		- if @project.id.nil?
			%p.void= f.text_field(:name, :value => "My Awesome Project", :class => "clear_field")
		- else
			%p= f.text_field :name

	- person = current_person
	= hidden_field(:project, :created_by, :value => person.id)

	- unless @project.id.nil?
		%table#new_project_people
			- already_on_the_project = []
			- for person in Person.all
				- if current_person.is_admin?(@project)
					- if @project.people.include?(person)
						%tr
							%td.label= f.label person.name, person.name.titleize
							%td.field= check_box_tag("project[person_ids][]", person.id, @project.people.include?(person))
				- else
					- if @project.people.include?(person)
						- already_on_the_project << person.name.titleize
			- if already_on_the_project
				%p
					These people have already joined the project:
					= already_on_the_project.join(", ")
		-unless @project.invitations.empty?
			%p These people have been invited to the project:
			%table#new_project_invited
				- @project.invitations.each do |person|
					%li <em>#{person.email}</em>


	%h3 Invite others to join the project

	%p Add the email addresses of the other people you'd like to be on the project:

	#email_adds
		.email_add_block
			%p.address= text_field_tag "emails[]"
			%p.address= text_field_tag "emails[]"
			%p.address= text_field_tag "emails[]"
			%p.address= text_field_tag "emails[]"
			%p.address= text_field_tag "emails[]"
		%p.right
			%span{:id => 'addmoreemails', :class => ['operate', 'button']} + Add more
	%table#new_project_update_frequency
		%tr
			%td= f.label :frequency, "How frequently would you like Offbott to request updates from your teammates?"
			%td
				- frequencies = {"0" => "Once a day", "1" => "Twice a week", "2" => "Once a week",  "3" => "Twice a month", "4" => "Once a month"}
				= select(:project, :frequency, options_for_select(frequencies.map{|frequency,key| [key, frequency]}, @project.frequency))

	- if @project.updates.length > 0
		%h3 Archive the project?
		%table#project_archive
			%tr
				%td= f.label :archived, "Archived projects don't send out email."
				%td= f.check_box :archived

	%p= f.submit 'Save this project', :class => 'confirm button'
