= form_for @project do |f|
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
			%ul
				- @project.errors.full_messages.each do |msg|
					%li= msg

	%h3 What's it called?

	%table#new_project_name
		%tr
			%td.label= f.label :name 
			%td.field= f.text_field :name

	- person = current_person
	= hidden_field(:project, :created_by, :value => person.id)

	%h3 Add people to this project
	
	%table#new_project_people
		- for person in Person.all
			%tr
				%td.label= f.label person.name
				%td.field= check_box_tag("project[person_ids][]", person.id, @project.people.include?(person))

	%h3 Invite others to join the project
	%p Add their emails separated by commas:
	
	%table#new_project_invites
		%tr
			%td.label= label_tag "emails"
			%td.field= text_field_tag "emails"

	%table#new_project_submit
		%tr
			%td.label
			%td.field= f.submit 'Create your new project!'
