%h1 ALL THE PROJECTS!1!

#pop_box
	%table
		- @projects.each do |project|
			%tr
				%td= link_to project.name, project
				- if project.manageable_by?(current_person)
					%td.edit= link_to 'Edit', edit_project_path(project)
					%td.delete= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'Create a new Project', new_project_path

%p= link_to 'See just your Projects', root_url
