%h1 Your projects

- if @projects.empty?
	%p <span class="logotype">Offbot</span> doesn't know about any of your projects yet.
	
- else
	#pop_box
		%table#project_list
			- @projects.each do |project|
				%tr
					%td= link_to project.name, project, :title => "Check out this Project"
					- if current_person.can_view?(project)
						%td.edit= link_to 'Edit', edit_project_path(project), :title => "Edit this Project"
					- if project.manageable_by?(current_person)
						%td.delete= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete, :title => "Delete this Project"

%p= link_to 'Create a new Project', new_project_path

- if current_person.is_superadmin?
	%p= link_to 'See all Projects', projects_path