%h1= @project.name

#project_cols
	
	#project_col_left

		- if @project.updates.empty?
			%p No updates on this project yet!
	
		- else 
			#updates
				/ here we're checking if this update is the same day as the last one
				/ if it's not, print the date (changing to "today" and "yesterday" as required)
				- lastday = ''
				- today = Time.new
				- yesterday = today - 86400
				- @project.updates.order("created_at").reverse_each do |update|
					- updateday = update.created_at.strftime("%Y-%m-%d")
					- if updateday != lastday
						- if updateday == today.strftime("%Y-%m-%d")
							%p= 'Today'
						- elsif updateday == yesterday.strftime("%Y-%m-%d")
							%p= 'Yesterday'
						- else
							%p= update.created_at.strftime("%A %d %B")
					.update
						- body = extract_reply(update.body)
						- body_with_linked_hashtags = auto_link(body, { :hashtag_url_base => "http://offbott.com/projects/#{@project.id}/updates/", :hashtag_class => "hashtag" })
						%p.body= simple_format(raw(body_with_linked_hashtags))
						%p.credit 
							<span class="author">#{update.person.name.titleize}</span> <span class="date">#{update.created_at.strftime("%I:%M %p")}</span>
							%span.permalink= link_to '∞', update_path(update)
							- if update.editable_by?(current_person)
								%span.edit= link_to 'Edit', edit_update_path(update)
								%span.delete= link_to 'Delete', update, :confirm => 'Are you sure?', :method => :delete
					- lastday = updateday	
						
	#project_col_right			
		
		%h4 Project members:

		#pop_box
			%ul
				- @project.people.each do |person|
					%li= link_to person.name.titleize, person
				- @project.invitations.uniq.each do |person|
					- unless @project.people.include?(Person.find_by_email(person.email))
						%li <em>#{person.email[0,20]}…</em>

		- if @project.weekly_digest_day.nil? 
			%p Weekly digest not set up yet
		- else 
			%p Weekly digest: #{@project.weekly_digest_day}

		%p Found a bug? <a href="https://github.com/stml/offbot/issues/new">Let us know on github</a> or <a href="mailto:ntalia.buckley@gmail.com?subject=Found a bug in Offbott">via email</a>.

		= link_to "Add an update", :controller => "updates", :action => "new", :project => @project

		%p= link_to 'Edit the name and members of this project', edit_project_path(@project)

		%p= link_to 'See all your projects', root_url