%p#notice= notice

%h1= @project.name

#project_member_list
	%table
		- @project.people.each do |person|
			%tr
				%td= link_to person.name, person
				%td (#{person.email})

%p= link_to 'Edit the name and members of this project', edit_project_path(@project)

%p= link_to 'See all your projects', root_url
