%h1 My updates

%table

	- @updates.each do |update|
		%tr
			%td= update.body
			%td= link_to 'Show', update
			%td= link_to 'Edit', edit_update_path(update)
			%td= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Update', new_update_path
