%p= simple_format(extract_reply(@update.body))
%p Added to project #{@update.project.name}
- if @update.editable_by?(current_person)
	= link_to 'Edit', edit_update_path(@update)
	\|
= link_to 'Back to my updates', updates_path
\|
= link_to @update.project.name, project_path(@update.project)
\|
= link_to 'Back to my projects', root_url
