%h1 Updates tagged with ##{@tag}

%table

	- @updates.each do |update|
		%tr
			%td= update.body
			%td= link_to 'Show', update
			- if update.editable_by?(current_person)
				%td= link_to 'Edit', edit_update_path(update)
				%td= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Update', new_update_path
