!!!
%html
	%head
		%title Offbott
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body

		#header_o
			#header_i
				%h1= link_to 'offbott', root_url
				#header_login
					- if person_signed_in?
						= link_to 'Your Projects', root_url
						&nbsp;&nbsp;&nbsp;
						= link_to 'You', person_path(current_person)
						&nbsp;&nbsp;&nbsp;
						= link_to 'Sign Out', destroy_person_session_path, :method => :delete        
					- else
						= link_to 'Sign In', new_person_session_path 
						&nbsp;&nbsp;&nbsp;
						= link_to 'Register', new_person_registration_path
		
		#container_o
			#container_i
				- unless notice.nil?
					%p#notice= notice
				- unless alert.nil?
					%p#alert= alert

				= yield